# Ignore large installation executables
Setup/*.exe
*.exe

# Ignore the virtual environment
.venv/
venv/
ENV/

# Ignore python cache files
__pycache__/
*.pyc

# Ignore local environment keys (just in case)
.env

# Ignore Jupyter Notebook checkpoints and hidden states
.ipynb_checkpoints/
*/.ipynb_checkpoints/